.HEADER
{
background-color:ButtonFace;
cursor:pointer;
font-family:Palatino Linotype;
font-size:10pt;
text-decoration:underline;
border-top-color:Black;
border-top-style:solid;
border-top-width:2px;
}
.Content
{
width:746px;
background-color:Silver;
border-color:White;
border-style:solid;
border-width:2px;
}
